<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.toucan.example2"
    android:versionCode="1"
    android:versionName="2.0.51f0c06d" >

    <uses-sdk android:minSdkVersion="9" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >


        <activity android:name="ru.toucan.example.activity.NewAPI"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="ru.toucan.example.method.Payment"
            android:screenOrientation="portrait"
            android:label="PAYMENT" >
        </activity>
        <activity
            android:name="ru.toucan.example.method.CashPayment"
            android:screenOrientation="portrait"
            android:label="CASH_PAYMENT" >
        </activity>
        <activity
            android:name="ru.toucan.example.method.ViewPayment"
            android:screenOrientation="portrait"
            android:label="VIEW_PAYMENT" >
        </activity>
        <activity
            android:name="ru.toucan.example.method.CancelPayment"
            android:screenOrientation="portrait"
            android:label="CANCEL_PAYMENT" >
        </activity>
        <activity
            android:name="ru.toucan.example.method.ReturnPayment"
            android:screenOrientation="portrait"
            android:label="RETURN_PAYMENT" >
        </activity>
        <activity
            android:name="ru.toucan.example.method.Settlement"
            android:screenOrientation="portrait"
            android:label="SETTLEMENT" >
        </activity>
        <activity
            android:name="ru.toucan.example.method.GetParameters"
            android:screenOrientation="portrait"
            android:label="GET_PARAMETERS" >
        </activity>
        <activity
            android:name="ru.toucan.example.method.Open"
            android:screenOrientation="portrait"
            android:label="OPEN" >
        </activity>
        <activity
            android:name="ru.toucan.example.method.Close"
            android:screenOrientation="portrait"
            android:label="CLOSE" >
        </activity>

    </application>

</manifest>
